h1 {
	background-color: #487AD7; 
}

.header li {
    color: black;
}

.container {
	color: blue;
}

.jumbotron h1 {
	color: black;
	font-size: 47px;
	font-family: 'shift', sans-serif;
}

.container h3 {
    color: ;
}



 