
.header li {
    color: purple;
}

.jumbotron p {
	color: purple;
	font-size: 20px; 
}

.jumbotron h1 {
	color: purple;
	font-size: 48px;
	font-weight: bold;
}

.jumbotron h1 {
    font-family: 'shift',sans-serif;
    color: purple;
    font-size: 48px;
    font-weight: bold;
}
.jumbotron a {
	background-image:
}
.nav a {
	color: purple;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}
.learn-more {
	background-color: black;
}
.learn-more h3 {
	font-family: 'audiowide',display;
	font-size: 18px;
	font-weight: bold;
}
.learn-more a {
	color: #00b0ff;
}
.nav li {
	display: inline;
}
.jumbotron .conatiner {
	position: relative;
	top:100px;
}
.jumbotron {
	background-image:url();
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}
.learn-more p {
	font-size: 20px;
	color: #fff;
}
.Our-Sponors {
	background-color: #efefef
	border-bottom: 1px solid #dbdbdb;
}
.Our-Sponors h2 {
	color: #393c3d
	font-size: 24px;
}
.Our-Sponors p {
	font-size: 15px;
	margin-bottom: 13px; 
}


 