h1 {
	background-color:ocean blue; 
}

.header li {
    color:black;
}

.container {
	color:gray wolf;
}

.jumbotron h1 {
	color:platinum;
	font-size: 47px;
	font-family: 'shift', bree-serif;
}

.container p {
    color:marble blue;
}


 